body {
	background-color: #000000;
}

#flecha-servicios {
	width:69px;
	height:50%;
	background-image:url(../img/nuestro-portafolio.png);
	background-repeat:no-repeat;
	background-size:contain;
	position:fixed;
	left:30px;
	bottom:130px;
}
#video-container {
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

#imgfija{
        z-index: -999;
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
 }

 #logo{
 	z-index: 800;
 	top:3px;
 	overflow: visible;
 	position: absolute;
	width:5%;
	height:auto;
	min-width:50px;
 }


.bar{
	width: 100%;
	height: auto;
	left: 0px;
	padding-top: 22px;
	position: fixed;
	opacity: 0.8;

}

.fondo2{
	width: 100%;
	height: auto;
	bottom: 0px;
	left: 0px;
	position: fixed;

}

.fondo2 > a {
	opacity: 0.8;
}

.idnoticias {
	float:left;
	width:280px;
	height:90px;
	margin:9px 0 8px 0;
	background-image:url(../img/botonnoticias.png);
	background-repeat:no-repeat;
	background-size:contain;
}
		.idnoticias SPAN {
			display:none;
		}
		
.footer {
	width: 100%;
	height: auto;
	bottom: 0px;
	left: 0px;
	position: fixed;
	opacity: 0.8;

}

.fondo22:hover{
	width: 100%;
	height: 130px;
	
	-moz-transition: all 2 ease;
	-webkit-transition: all 2 ease;
	
}

.web{
	width: 100%;
	height: 100%;
	opacity: 0.8;
	-moz-transition: all 2 ease;
	-webkit-transition: all 2 ease;
	
}

.digital{
	height: 100%;
	font-color: #fb5900;
}

.visual{
	width: 100%;
	height: 100%;
	background-color: #fb5900;
	font-color: white;
	
}

.opcionfooter{
	font-color: #fb5900;	
}

.app{
	width: 100%;
	height: 100%;
	background-color: #fb5900;
	font-color: white;
	
}


.sci{
	width: 100%;
	height: 100%;
	background-color: #fb5900;
	font-color: white;
	
}

.marketing{
	width: 100%;
	height: 100%;
	background-color: #fb5900;
	font-color: white;
	
}

.accordion-inner {
	background-color: #ffffff;
	opacity: 0.8;
}

.accordion-inner > img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.accordion-heading {
	text-align: center;
	font-color: #fb5900;
	opacity: 0.8;
}

.accordion-heading > a:link {
	color: #fb5900;
}

.modaltext {
	text-align: justify;
}

.modal-header {
	text-align: center;
}


.navbar-inner {
	border-radius:0 !important;
	padding-right:0 !important;
	height:40px !important;
}
#redessociales {
}
		#redessociales A SPAN {
			display:none;
		}
		#redessociales A {
			float:left;
			height:40px;
			width:40px;
		}
		.linkedin {
			background-image:url(../img/in.png);
			background-repeat:no-repeat;
		}
			.linkedin:hover {
				background-image:url(../img/in_hover.png);
			}
		.yt {
			background-image:url(../img/yt.png);
			background-repeat:no-repeat;
		}
			.yt:hover {
				background-image:url(../img/yt_hover.png);
			}
		.fb {
			background-image:url(../img/fb.png);
			background-repeat:no-repeat;
		}
			.fb:hover {
				background-image:url(../img/fb_hover.png);
			}
		.tw {
			background-image:url(../img/tw.png);
			background-repeat:no-repeat;
		}
			.tw:hover {
				background-image:url(../img/tw_hover.png);
			}
		#btn-audiooff {
			background-image:url(../img/audiooff.png);
		}
		#btn-audioon {
			background-image:url(../img/audioon.png);
			visibility:hidden;
			margin-left:-40px;
		}
#botonesservicios {
	float:left;
	text-align:center;
}
#botonesservicios A {
	float:left;
	width:120px;
	height:120px;
}
	#botonesservicios A SPAN {
		display:none;
	}
	.idweb {
		background-image:url(../img/botonweb.png);
	}
		.idweb:hover {
			background-image:url(../img/botonweb_alt.png);
		}
	.iddigital {
		background-image:url(../img/botondigital.png);
	}
		.iddigital:hover {
			background-image:url(../img/botondigital_alt.png);
		}
	.idvisual {
		background-image:url(../img/botonvisual.png);
	}
		.idvisual:hover {
			background-image:url(../img/botonvisual_alt.png);
		}
	.idmovil {
		background-image:url(../img/botonmovil.png);
	}
		.idmovil:hover {
			background-image:url(../img/botonmovil_alt.png);
		}
	.idsci {
		background-image:url(../img/botonisc.png);
	}
		.idsci:hover {
			background-image:url(../img/botonisc_alt.png);
		}
	.idmark {
		background-image:url(../img/botonmark.png);
	}
		.idmark:hover {
			background-image:url(../img/botonmark_alt.png);
		}
		
.modal {
	background-color:rgb(101,101,101) !important;
}
.modal-footer {
	background-color:rgba(0,0,0,0.6) !important;
}
#myModalLabel {
	color:#FFF !important;
}
.modaltext {
	color:#FFF !important;
}
#preloadedImages {
	width: 0px;
	height: 0px;
	display: inline;
	background-image:url(../img/botonweb_alt.png);
	background-image:url(../img/botondigital_alt.png);
	background-image:url(../img/botonvisual_alt.png);
	background-image:url(../img/botonmovil_alt.png);
	background-image:url(../img/botonisc_alt.png);
	background-image:url(../img/botonmark_alt.png);
	background-image:url(../img/in_hover.png);
	background-image:url(../img/yt_hover.png);
	background-image:url(../img/fb_hover.png);
	background-image:url(../img/tw_hover.png);
}
.brand {
	width:50px;
	height:73px;
	margin-bottom:-55px;
}
#barranav {
	height:40px;
}


.modal.fade {
  top: 200%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}
#EquipoTrabajo.modal {
	background-color:rgba(000,000,000,0.6) !important
}
#EquipoTrabajo #myModalLabel {
	color:#F60 !important;
}

/* Código para hacer que los modales del menu de arriba vayan hacia abajo */
#EquipoTrabajo.modal.fade, #Contacto.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

#EquipoTrabajo.modal.fade.in, #Contacto.modal.fade.in  {
  top: 10%;
}

/* Fin Código modal superior*/

.modal-header {
	border-bottom:0 !important;
}

.modal-footer {
	border-top:0 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
#noticias {
	float:left;
	width:-webkit-calc(100% - 750px);
	width: calc(100% - 750px);
}
#notiizq {
	float:left;
	width:67px;
	height:120px;
	background-image:url(../img/notiinicio.png);
}
#notiprincipal {
	float:left;
	width:-webkit-calc(100% - 134px);
	width: calc(100% - 134px);
	height:120px;
	background-color:#e34a00;
	background-image:url(../img/bienvenidos.png);
	background-position:center right 400px;
	background-repeat:no-repeat;
}
	#notiprincipal A {
		float:right;
		width:320px;
		height:103px;
		margin:9px 0 8px 0;
		background-image:url(../img/botonnoticias.png);
		background-repeat:no-repeat;
	}
		#notiprincipal A SPAN {
			display:none;
		}
#notider {
	float:left;
	width:67px;
	height:120px;
	background-image:url(../img/notifinal.png);
}

#Noticias.modal {
	width:900px !important;
	margin-left:-450px !important;
	background-color:rgba(000,000,000,0.6) !important
}

/* Código Modales */


#ModalWeb .modal-body, #ModalWeb .modal-header {
	background-color:#006b71;
}
#ModalDigital .modal-body, #ModalDigital .modal-header  {
	background-color:#9b0159;
}
#ModalVisual .modal-body, #ModalVisual .modal-header  {
	background-color:#183076;
}
#ModalMovil .modal-body, #ModalMovil .modal-header  {
	background-color:#818900;
}
#ModalSCI .modal-body, #ModalSCI .modal-header  {
	background-color:#870303;
}
#ModalMarketing .modal-body, #ModalMarketing .modal-header  {
	background-color:#007401;
}

#Noticias .modal-body {
	background-color:#FFF;
}

/* Fin Código Modales */

.btn {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

#EquipoTrabajo .close {
	color:#FFF;
	opacity:0.5;
	filter: alpha(opacity=50);
}

@media (max-width: 767px) {

.idnoticias {
	float:left;
	width:200px;
	height:64px;
	margin:9px 0 8px 0;
	background-image:url(../img/botonnoticias.png);
	background-repeat:no-repeat;
	background-size:contain;
}
		.idnoticias SPAN {
			display:none;
		}
		
#botonesservicios A {
	float:left;
	width:70px;
	height:70px;
	background-size:cover;
}
	#botonesservicios A SPAN {
		display:none;
	}
	.idweb {
		background-image:url(../img/botonweb_alt.png);
	}
	.iddigital {
		background-image:url(../img/botondigital_alt.png);
	}
	.idvisual {
		background-image:url(../img/botonvisual_alt.png);
	}
	.idmovil {
		background-image:url(../img/botonmovil_alt.png);
	}
	.idsci {
		background-image:url(../img/botonisc_alt.png);
	}
	.idmark {
		background-image:url(../img/botonmark_alt.png);
	}

}
@media (max-width: 320px) {
#redessociales {
	position:fixed;
	right:0;
	bottom:10px;
}
.bar {	
	z-index:100 !important;
}

.fondo2 {
	z-index:99 !important;
}
}

@media (min-width: 980px) {
#EquipoTrabajo {
	width:980px !important;
	margin-left:-490px !important;
}
	#EquipoTrabajo .modal-body {
		max-height:510px;
	}
#ModalMarketing.modal, #ModalSCI.modal, #ModalMovil.modal, #ModalVisual.modal, #ModalDigital.modal, #ModalWeb.modal {
	width:800px !important;
	margin-left:-400px !important;
}
#ModalMarketing .modal-body, #ModalSCI .modal-body, #ModalMovil .modal-body, #ModalVisual .modal-body, #ModalDigital .modal-body, #ModalWeb .modal-body {
	height:484px !important;
	max-height:484px !important;
	background-position:left bottom;
	background-repeat:no-repeat;
}
#ModalMarketing .modaltext, #ModalSCI .modaltext, #ModalMovil .modaltext, #ModalVisual .modaltext, #ModalDigital .modaltext, #ModalWeb .modaltext {
	margin-top:20px;
}
#ModalWeb .modal-body {
	background-image:url(../img/webbkg.png);
}
#ModalDigital .modal-body {
	background-image:url(../img/mediabkg.png);
}
#ModalVisual .modal-body {
	background-image:url(../img/visualbkg.png);
}
#ModalMovil .modal-body {
	background-image:url(../img/movilbkg.png);
}
#ModalSCI .modal-body {
	background-image:url(../img/scibkg.png);
}
#ModalMarketing .modal-body {
	background-image:url(../img/marketingbkg.png);
}
}
@media (max-width: 1200px) {
	
	#notiprincipal A {
		width:100%;
		background-size:contain;
		background-position:center;
	}
}
@media (max-width: 1613px) {
	#notiprincipal {
		background-image:none;
	}
}
@media (max-width: 979px) {
#EquipoTrabajo .modal-body IMG {
	width:15%;
	height:auto;
}

#Noticias.modal {
	width:90% !important;
	margin-left:0 !important;
}

	#Noticias.modal IMG {
		max-width:50%;
		height:auto;
	}

}